@charset "UTF-8";
@font-face {
    font-family: "Passion one";
    src: url('../fontes/PassionOne-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Sriracha";
    src: url('../fontes/Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion one', sans-serif;
    --font3: 'Sriracha', sans-serif;

}
body, html {
    font-family: var(--font1);
    height: 100vh;

}
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
header > h1 {
    font-family: var(--font2);
    font-variant: small-caps;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 10vw;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20px;
    font-size: 3.5vw;
    min-height: 400px;
}
section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    padding: 5px;
}
section#img01 {
    background: black url('../imagens/background001.jpg')  center center no-repeat  fixed;
    height: 90vw;
}
section#img02 {
    background: black url('../imagens/background002.jpg') center center no-repeat  fixed;
}
